body{
  font-family: serif;
  background-color: aliceblue;
  color:black;

  header{
  background-image: url(BTSButter.jpg);
  background-size: 100%;
  padding: 300px;
  background-repeat: no-repeat;
  color: gold;
  font-family: Cursive;
  font-size: 30px;
  p{
    font-size: 20px;
      color:blueviolet;
    background-color: silver;
  }
    header .logo a {
     background-image: url(logo_small.png);
   background-size: 300px;
   background-repeat: no-repeat;
   display: inline-block;
   text-indent: -9999999px;
   height: 80px;
   position: relative;
   top: 20px;
   width: 300px;
   
 }

