body{
  font-family: serif;
  background-color: aliceblue;
  color:black;

  header{
  background-image: url(universe.png);
  background-size: 100%;
  padding: 300px;
  background-repeat: no-repeat;
  color: gold;
  font-family: Cursive;
  font-size: 30px;
  p{
    font-size: 20px;
      color:blueviolet;
  }
footer {
  margin-top: 50px;
  background-color: #800080;
  color: white;
}
#GrantMe {margin-left: 0px;
  color: gold;
  font-weight:bolder;
  display: row;
padding: 50px;
text-align: left;
list-style-type: none;
}
footer p {
  text-align: left;
  margin-right: 20px;
  color: white;
}
